body{
background-image: url(https://upload.wikimedia.org/wikipedia/commons/9/9e/US_states_and_territories_1970x1340.png);
background-repeat: no-repeat;
background-size: cover;
background-color: white;
font-family: Arial;
}
#index{	
	height: 30em;
	margin:0;
	position: absolute;
	top: 50%;
	left: 50%;
	margin-right: -50%;
    transform: translate(-50%, -50%);
}
#index h1{
	font-size: 5em;
	background-color: white;
	opacity: 0.75;
    display: block;
	
}
#index a{
	font-size: 16px;
	text-decoration: none;
	padding: 10px 10px 10px 10px;
	background-color: #fb0000;
	text-align: center;
	font-weight: bold;
	color: white;
	display: block;
	border: solid grey 1.5px;
}
#index a:hover{
	background-color: #082076;
}
#abbrev{
	height: 30em;
	margin:0;
	position: absolute;
	top: 50%;
	left: 50%;
	margin-right: -50%;
    transform: translate(-50%, -50%);
        display: block;
}
#abbrev h2{
	font-size: 3em;
	text-align: center;
	background-color: white;
	opacity: 0.75;

}
#abbrev form{
	text-align: center;
	font-size: 20px;
}